{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Аккаунт</h2>

    <!-- INFO -->
    <div class="card bg-light w-100 mt-3">
        <div class="card-header text-bg-info fs-2">Інформація</div>
        <div class="card-body fs-5">
            <div class="d-flex">
                <div class="w-50">
                    <p><strong>Нікнейм</strong>: {{user.username}}</p>
                    <p><strong>На платформі з</strong>: {{user.date_joined.date}}</p>
                </div>
                <div class="w-50">
                    <p><strong>Створенно завдань</strong>: {{user.tasks.all|length}}</p>
                    <p><strong>Створенно коментарів</strong>: {{user.comments.all|length}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- TASKS
    <div class="card bg-light w-100 mt-3">
        <div class="card-header text-bg-success bg-opacity-75 fs-2">Створенні завдання</div>
        <div class="card-body">
            <ul class="list-group" id="tasks">

            </ul>
        </div>
    </div> -->
</div>
{% endblock %}