{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <form method="post">
        {% csrf_token %}
        <h2>Видалення завдання</h2>
        <p>Ви впевнені що хочете видалити завдання <b>"{{task.title}}"</b>?</p>
        <div class="button-group my-4">
            <button type="submit" class="btn btn-danger">Видалити</button>
            <a href="{% url 'tasks:task-detail' object.pk %}" class="btn btn-secondary">Назад до завдання</a>
        </div>
        
    </form>
</div>
{% endblock %}