{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h2>{{task.title}}</h2>
    <p>{{task.description}}</p>
    <p>Статус: <span class="badge bg-primary">{{task.status}}</span></p>
    <p>Пріорітет: <span class="badge bg-secondary">{{task.priority}}</span></p>
    <p>Термін до: 
    <span class="badge text-bg-secondary">
    {% if task.due_date %}    
        {{task.due_date}}
    {% else %}
        None
    {% endif %}
    </span>
    </p>
    <a href="{% url 'tasks:task-update' task.pk %}" class="btn btn-warning">Редагувати</a>
    <a href="{% url 'tasks:task-delete' task.pk %}" class="btn btn-danger">Видалити</a>
    
    <div class="my-5"></div>

    <div class="my-3">
        <span class="h3">Комантарі</span>
        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="collapse" data-bs-target="#comment-form" aria-expanded="false" aria-controls="comment-form">+ Додати коментарій</button>
        <form action="" method="post" class="collapse bg-light mt-1 p-3" id="comment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Створити</button>
        </form>
        {% for comment in comments %}
            <div class="card w-25 mt-2">
                <div class="card-header text-bg- d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    {{comment.author.username}} - {{comment.created_at}}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{comment.text}}
                    </p>
                </div>
                
            </div>
        {% empty %}
            <div class="w-100 text-center">
                Коментарів немає
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}